#editor h2 {
    font-size: 16px;
}

.examples {
    margin-bottom: 10px;
    min-height: 45px;
}

.btn {
    width: 120px;
}

#input-php,
#input-hhbc,
#output {
    height: 220px;
    font-family: monospace;
    margin-top: 5px;
    margin-bottom: 10px;
}
